<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback"
  defer
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-twilight.min.css"
/>
<script src="
https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js
"></script>

<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="{{nav_classes[0]}}" href="/">Managed</a>
    </li>
    <li class="nav-item">
      <a class="{{nav_classes[1]}}" href="/invisible">Invisible</a>
    </li>
  </ul>
</div>

<div class="container mt-5">
  <div class="d-flex align-items-center">
    <div id="turnstile-container"></div>

    <!-- https://developers.cloudflare.com/turnstile/troubleshooting/testing/ -->
    <div class="form-floating w-25" style="margin-left: 50px;">
      <select class="form-select" id="secret-select">
        <option selected>Actual secret key</option>
        <option value="1x0000000000000000000000000000000AA">Always passes</option>
        <option value="2x0000000000000000000000000000000AA">Always fails</option>
        <option value="3x0000000000000000000000000000000AA">Yields a "token already spent" error</option>
      </select>
      <label for="secret-select">Select secret to use</label>
    </div>
  </div>

  <button id="check-challenge" type="button" class="btn btn-primary mt-5">
    check challenge
  </button>

  <div class="mt-5">
    Turnstile completed in: <strong id="load-time"></strong> ms
  </div>
</div>

<script>
  const t0 = performance.now();
  let t1 = 0;

  window.onloadTurnstileCallback = function () {
    turnstile.render("#turnstile-container", {
      sitekey: "{{sitekey}}",
      callback: function (token) {
        t1 = performance.now();
        window.turnstileToken = token;

        const loadTime = document.getElementById("load-time");
        loadTime.innerText = (t1 - t0).toFixed(2);
      },
    });
  };

  const checkCallengeButton = document.getElementById("check-challenge")

  checkCallengeButton.addEventListener("click", async () => {
    const result = await fetch('/check-challenge', {
      method: "POST",
      body: JSON.stringify(
        {
          token: window.turnstileToken,
          widget_mode: "{{widget_mode}}",
          secret_key: window.secretKey
        }
      )
    })

    const json = await result.json()

    const container = document.createElement('div');
    container.className = 'container'
    const pre = document.createElement('pre');
    const code = document.createElement('code');
    code.className = 'language-json';
    code.textContent = JSON.stringify(json, null, 4);

    pre.appendChild(code);
    container.appendChild(pre);

    document.body.appendChild(container);
    Prism.highlightAll();
  })

  const select = document.getElementById("secret-select")
  select.addEventListener("change", (event) => {
    const { target: { value } } = event
    window.secretKey = value
  })
</script>
